<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="fa fa-camera-retro"></i><strong class="pl-2">SuperDelivery</strong>
        </a>
        <button class="navbar-toggler collapsed"
            data-toggle="collapse" data-target="#header">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="bg-dark collapse" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Sobre</h4>
                <p class="text-muted">O SuperDelivery é um aplicativo que permite aos usuários fazer compras de supermercado de forma conveniente, rápida e econômica. Ele permite que pequenos negócios locais compitam com grandes redes de supermercados, oferecendo aos usuários uma grande variedade de opções de compras.

                    O aplicativo permite que os usuários criem uma lista de compras e, em seguida, oferece opções de supermercados e preços para cada item da lista. Os usuários podem escolher entre diferentes supermercados com base no menor preço, tempo estimado de separação ou valor da entrega.
                    
                    Além disso, o SuperDelivery oferece serviços de entrega, permitindo que os usuários recebam suas compras em casa com praticidade. Para pequenos negócios locais, o aplicativo oferece uma oportunidade de alcançar novos clientes e aumentar suas vendas.
                    
                    Em resumo, o SuperDelivery é uma plataforma completa para compras de supermercado, oferecendo economia de tempo e dinheiro, além de praticidade e conveniência aos usuários. Ele permite que pequenos negócios locais compitam com grandes redes e forneçam um serviço de entrega eficiente, beneficiando tanto os usuários quanto as empresas.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Serviços</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white">Login</a>
                    </li>
                    <li>
                        <a href="./cadastro2.html" class="text-white">Cadastro</a>
                    </li>
                    <li>
                        <a href="mailto:#" class="text-white">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
